.wrapper {
  --gap: 0.75rem;

  display: flex;
  flex-direction: column;
  gap: var(--gap);
  width: fit-content;
  margin: 0 auto;
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: #eee 0 2px;
}

.row {
  display: flex;
  gap: var(--gap);
}
