.wrapper {
  --separator: solid 2px #ccc;
  --separator-padding: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 0;
  width: fit-content;
  margin: 0 auto;
  background-color: white;
  padding: calc(1rem - var(--separator-padding));
  border-radius: 0.5rem;
  box-shadow: #eee 0 2px;
}

.row {
  display: flex;
  gap: 0;
  border-bottom: var(--separator);
}

.row:last-child {
  border-bottom: none;
}
